@import "../../colors.scss";

.workspace-split,
.workspace-ribbon,
.workspace-ribbon.mod-left.is-collapsed {
  border-right: 1px solid $gray-2;
}

.workspace-ribbon.mod-right.is-collapsed {
  border-left: none;
}

.status-bar {
  z-index: 30;
  border-top-left-radius: 5px;
  width: auto;
  position: absolute;
  left: auto;
  border: 0;
  bottom: 0;
  right: 0;
  max-height: 26px;
  padding: 2px 8px 6px 3px;
}

.status-bar-item {
  padding: 0 10px;
  font-size: 10px;
  line-height: 10px;
}

.status-bar,
.workspace-ribbon,
.workspace-ribbon.is-collapsed,
.workspace-split.mod-left-split .workspace-tabs,
.workspace-split.mod-left-split .workspace-tabs .workspace-leaf,
.workspace-split.mod-right-split .workspace-tabs .workspace-leaf,
.workspace-leaf-resize-handle {
  background-color: $gray-3;
}

.workspace-tab-container-before,
.workspace-tab-container-after {
  display: none;
}

.workspace-split .workspace-tabs:not(:first-child) {
  border-top: 1px solid $gray-2;
}

.workspace-tab-header-container {
  height: 25px;
  padding: 0;
  margin-top: 10px;
  margin-left: 4px;
}

.workspace-tab-container-inner {
  background-color: transparent !important;
  border-radius: 0px;
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  stroke-width: 0;
}

.workspace-tab-header {
  background-color: transparent;
  border-radius: 10px !important;
}

.workspace-tab-header-inner {
  padding: 10px;
  color: $gray-10;
}

.workspace-tab-header:not(.is-active) .workspace-tab-header-inner {
  color: $gray-6;
}

.workspace-tab-header-inner-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.workspace-tab-header.is-before-active,
.workspace-tab-header.is-after-active {
  background-color: transparent;

  .workspace-tab-header-inner {
    background-color: transparent;
  }
}

.workspace {
  .nav-header {
    padding: 0px;
  }

  .nav-buttons-container {
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: flex-end;

    .nav-action-button {
      padding: 2px 5px 0px 5px;
      margin-bottom: 0px;

      svg {
        width: 14px;
        height: 14px;
      }
    }
  }
}

.workspace .outgoing-link-pane,
.workspace .backlink-pane {
  > .tree-item-self > .tree-item-inner {
    font-size: 14px;
  }

  .search-result-container .tree-item-inner {
    font-size: 12px;
  }
}
